.slider {
  background: #8d8a85;
}

.agile {
  grid-column: full;
  background-image: linear-gradient(66deg, #887d6caa, #8a8270ee 80%, #524d474a);
}

.agile__dots {
  bottom: 3.25em;
  display: block;
  left: 1.625em;
  position: absolute;
  width: 3.25em;
  flex-direction: column;
}

.agile__dot {
  margin-bottom: 1.625em;
}

.agile__dot button {
  background-color: transparent;
  border: 8px solid #fff;
  margin-top: 10px;
  border-radius: 50%;
}

.agile__dot button:hover {
  border: 8px solid #888;
}

.agile__dot--current button {
  border: 8px solid #222;
}

.agile__arrow {
  display: none;
}

.slider,
.slide,
.slide-image,
.slide-content,
.agile,
.agile__list,
.agile__track,
.agile__slide {
  height: 84vh;
}

@media (min-width: 960px) {
  /* laptop*/
  .slider,
  .slide,
  .slide-image,
  .slide-content,
  .agile,
  .agile__list,
  .agile__track,
  .agile__slide {
    height: 88vh;
  }
}
